#winning{
    text-align: right;
    font-size: 3rem;
    letter-spacing: 0.5rem;
}

#recipe{
    //border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    padding: 10px;
    //height: max-content;
    flex-wrap: wrap;
}

#recipe__title{
    margin-top: 20px;
    //border: 2px solid black;
    padding: 10px;
    font-size: 2.5rem;
}

#recipe__ingredients {
    margin-top: 10px;
    //border: 2px solid black;
    flex-grow: 2;
}

li{
    display: block;
}

#recipe__instructions {
    margin-top: 40px;
    //border: 2px solid black;
    
}

#recipe__image {
    margin-top: 20px;
    //border: 2px solid black; 
}

#links {
    //border: 2px solid black; 
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}