.winning {
    background-color: $background-color;
    background-image: url("../img/winning.jpg");
}

.loosing {
    background-color: $background-color;
    background-image: url("../img/loosing.jpg");
}
