* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: $background-color;
    background-image: url("../img/lemon2.jpg");
    background-size: cover;
    background-blend-mode:overlay;
    font-size: 16px; // absolute size/ default size
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: $font-color;
}

body {
    width: 100%;
    // at least as tall as the viewport
    min-height: 100vH;//vH = viewport height
    @include flexCenter;
    flex-direction: column;
    padding: 0.5rem;
}

//container main element
main {
    padding: 0.5rem 0.5rem;
    width: 100%;
    max-width: 700px; //close to an iPad width
    max-height: none; //1050px
    display: flex; 
    flex-direction: column;
    flex-grow: 1; // should expand
    color: $font-color;
    background-color: $mask-color;// just is a bi with shade in comparison to the body
    border: 1px solid $bordercolor;
    border-radius: 10px;
    box-shadow: 1px 1px 2.5px $shadowcolor;
}

h1{
    text-align: center;
    font-size: 3rem;
}

//class to not show something from the page
.none {
    visibility: hidden;
}

// to show something that was previously removed
.block {
    display: visible;
}

#solution{
    margin-top: 150px;
    position: absolute;
}

#question{
    font-size: 20rem;
}