$font-color: #fff;
$background-color: #83b1c4;
$winning-color: #E87461;
$loosing-color: darkgray;
$button-color: transparent;
$bordercolor: lightgray;
$button-textcolor:#fff;
$shadow-color:#fff;
$text-shadow-color: #000;
$fadecolor: rgba(255,255,255,0.6);
$mask-color: rgba(0,0,0,0.1);
$shadowcolor: #fff;
$container-bgcolor: #f2f2f2;